<div class="serp-syllables-division-report">
    <div class="syllables-division-report-section">
        {{#each baseAnswers as |baseAnswer index |}}
          <div class="syllables-division-item syllables-division-edit-{{index}}">{{baseAnswer.answer_text}}</div>
        {{/each}}
    </div>
</div>
