<div class="serp-identify-vowel-report">
    <div class="identify-vowel-report-section">
        {{#each baseAnswers as |baseAnswer index |}}
          <div class="identify-vowel-item identify-vowel-edit-{{index}}">{{baseAnswer.answer_text}}</div>
        {{/each}}
    </div>
</div>
