<div class="serp-counting-syllables-report">
    <div class="counting-syllables-report-section">
        {{#each baseAnswers as |baseAnswer index |}}
          <div class="counting-syllables-item counting-syllables-edit-{{index}}">{{baseAnswer.answer_text}}</div>
        {{/each}}
    </div>
</div>
