<div class="qz-serp-baseword-container">
  <div class="baseword-text-section">
      {{#each baseAnswers as | answer  index |}}
          <p class="base-word-edit-{{index}}">{{answer.answer_text}}</p>
      {{/each}}
  </div>
</div>
