<div class="serp-silent-reading-report-container">
{{#unless showCorrect}}
  {{#each answers as | answer |}}
  <!-- <span>Total time spent</span>
    {{format-time answer.value}} -->
  {{/each}}
{{/unless}}
</div>
