<div class="serp-vowel-teams-report">
    <div class="vowel-team-report-section">
        {{#each baseAnswers as |baseAnswer index |}}
          <div class="vowel-team-item vowel-team-edit-{{index}}">{{baseAnswer.answer_text}}</div>
        {{/each}}
    </div>
</div>
