<div class="player-content">
    {{#if resource.htmlContent}}
    {{gru-html-editor description=resource.htmlContent}}
    {{else}}
    <div class="content">{{t 'common.no-content'}}</div>
    {{/if}}
</div>