<div class="qz-likert-scale">
        {{component activeComponent onChangeAnswer="onChangeOption" userAnswer=userAnswer oneAtTime=oneItemAtTime isPlayer=true scaleItems=likertItems likertScalePoints=likertPoints}}
</div>